# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# PyTorch checkpoints & logs
*.pt
*.ckpt
*.pth
lightning_logs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# HuggingFace cache
.cache/
